.availability-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem auto;
    font-family: "Anta";
}
.add-availabilty-form {
    
}